[Desktop Entry]
Type=Application
Name=Cursor
Exec=/usr/bin/cursor
Icon=/home/cachebag/dotfiles/applications/icons/cursor.png
Terminal=false
Categories=Development;
