@import url("/home/cachebag/.cache/wal/colors-waybar.css");

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans CJK SC", sans-serif;
  font-size: 16px;
  min-height: 20px;
}

window#waybar {
  background: @background;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin-top: 6px;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  border-radius: 10px;
  background: @color0;
  transition: none;
}

#workspaces button {
  transition: none;
  color: @foreground;
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  color: @color6;
}

#workspaces button:hover {
  color: @background;
  background: @foreground;
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#network:hover {
  color: @background;
  background: @color6;
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#pulseaudio:hover {
  color: @background;
  background: @color5;
}

#bluetooth {
  margin-top: 6px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 8px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#bluetooth:hover {
  color: @background;
  background: @color6;
}

#custom-bluelight {
  margin-top: 6px;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#custom-bluelight:hover {
  color: @background;
  background: @color6;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#battery:hover {
  color: @background;
  background: @color5;
}

#battery.critical:not(.charging) {
  background-color: @color1;
  color: @background;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @color3;
    color: @background;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#backlight:hover {
  color: @background;
  background: @color6;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#clock:hover {
  color: @background;
  background: @color6;
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#memory:hover {
  color: @background;
  background: @color6;
}

#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#cpu:hover {
  color: @background;
  background: @color5;
}

#custom-launcher {
  font-size: 24px;
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#custom-launcher:hover {
  color: @background;
  background: @color6;
}

#custom-media {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#custom-media:hover {
  color: @background;
  background: @color6;
}

#custom-power {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @color0;
}

#custom-power:hover {
  color: @background;
  background: @color5;
}
